<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h6 class="display-10 navbar-text">&copy; Copyright 2022. All rights reserved 
      <a href="https://www.facebook.com/adrian.posadas/"><img src="/Assets/images/fb.png" alt="facebook"  width="40" height="40"></a>
        <a href="https://www.instagram.com/adb22_/"><img src="/Assets/images/ig.png" alt="instagram"  width="25" height="25"></a>
        <a href="https://www.linkedin.com/in/adrian-posadas-a363b3b8/"><img src="/Assets/images/linkedin.png" alt="linkedin"  width="25" height="25"></a>
        <img src="/Assets/images/whatsapp.png" alt="whatsapp"  width="25" height="25">
        </h6>
      
    </div>
  </nav>
</footer>