<!-- Contact Content -->
<% if (title == 'Contact') { %>  
<div class="container">
<h3><i class="fas fa-mobile-alt"></i> +1-437-256-6158 </h3>
<h3><i class="far fa-envelope"></i> <a href="mailto:posadas.adrian22@gmail.com">Send email</a> </h3>
<h5><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/adrian.posadas/">Add me on Facebook</a> </h5>
<h5><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/adb22_/"> Follow me on Instagram</a> </h5>
<h5><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/adrian-posadas-a363b3b8/"> Follow me on LinkedIn</a> </h5>
<a href="https://www.facebook.com/adrian.posadas/"><img src="/Assets/images/fb.png" alt="facebook"  width="40" height="40"></a>
<a href="https://www.instagram.com/adb22_/"><img src="/Assets/images/ig.png" alt="instagram"  width="25" height="25"></a>
<a href="https://www.linkedin.com/in/adrian-posadas-a363b3b8/"><img src="/Assets/images/linkedin.png" alt="linkedin"  width="25" height="25"></a>
<img src="/Assets/images/whatsapp.png" alt="whatsapp"  width="25" height="25">
<hr>

<% } else  { %>
<% } %> 