<!-- Home Content -->
<% if (title == 'Home') { %>  
<div class="container">
<h2>Welcome to my Portfolio</h2>
<p><i>My Mission is to provide software solutions to any problem</i></p>
<hr>
<h4><a href="/About">Want to know more about me?</a></h4>
<hr>
<h4><a href="/Projects">Projects</a></h4>
<hr>
<h4><a href="/Services">Services Offered</a></h4>
<hr>
<h4><a href="/Contact">Contact Me</a></h4>
<hr>

<% } else  { %>
<% } %> 