<!-- Services Content -->
<% if (title == 'Services') { %>  
<div class="container">
<h3>What Sevices do I Offer?</h3>
<p>I provide services on General Programming, Web Development, and Artificial Intelligence</p>
<hr>
<h3>Programming Languages:</h3>
<p>Python<br> Java<br> Javascript<br></p>
<img src="/Assets/images/java.png" alt="java"  width="100" height="100">
<img src="/Assets/images/js.png" alt="javascript"  width="100" height="100">
<img src="/Assets/images/python.png" alt="python"  width="100" height="100">
<hr>

<% } else  { %>
<% } %> 